<app-navbar [title]="title" [links]="navlinks"></app-navbar>

<div id="alert-box"></div>

<router-outlet></router-outlet>

<footer class="text-center text-lg-start mt-2">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: Ves <a href="{{profileUrl}}" class="link-body-emphasis fs-5 mx-2"><i class="bi bi-github"></i></a><a href="{{repoUrl}}" class="link-body-emphasis fs-5"><i class="bi bi-git"></i></a>
    </div>
    <!-- Copyright -->
</footer>
