<div class="container">
    <h2>Anagram Solver</h2>
    <p>Currently using Words With Friends (2019) dictionary for the list of words. Now <b>supporting</b> wildcards!</p>
    <mat-divider></mat-divider>
    <!-- Input for anagram -->
    <form>
        <mat-form-field class="form-field" subscriptSizing="dynamic">
                <mat-label for="scrambledLetters" class="form-label">Scrambled letters</mat-label>
                <input matInput type="text" id="scrambledLetters" name="scrambledLetters" aria-describedby="anagramsolve" [(ngModel)]="scrambled" placeholder="Enter letters here...">
                <button mat-icon-button matSuffix type="submit" id="anagramsolve" (click)="solveAnagrams()" aria-label="Solve Anagram"><mat-icon>arrow_forward</mat-icon></button>
        </mat-form-field>
    </form>
    <mat-slide-toggle [checked]="exactMode" (change)="modeChange()">Toggle Exact Mode</mat-slide-toggle>
    <app-popup-help popupText="Exact Mode searches only for anagrams of the <b>same length</b> as provided scrambled letters."></app-popup-help>
    <mat-divider></mat-divider>
    <!-- Output -->
    <h3>Anagram Solutions:</h3>
    <ng-template [ngIf]="state == 'idling'">
        Anagrams of entered letters will show up here once they get found.
    </ng-template>
    <ng-template [ngIf]="state == 'loading'">
        <mat-spinner diameter="50" ></mat-spinner>
    </ng-template>
    <ng-template [ngIf]="state == 'showing'">
        <mat-accordion [ngClass]="{'shorter-accordion': !(isHandset$ | async)}">
            <!-- Repeat for every letter count -->
            <ng-template ngFor let-key [ngForOf]="Object.keys(anagrams).reverse()">
                <mat-expansion-panel>
                    <mat-expansion-panel-header><mat-panel-title>{{key}}-Letter Words</mat-panel-title></mat-expansion-panel-header>
                    <div class="flex-content">
                        <ng-template ngFor let-word [ngForOf]="anagrams[key]">
                            <div>{{word}}</div>
                        </ng-template>
                    </div>
                </mat-expansion-panel>
            </ng-template>
        </mat-accordion>
    </ng-template>
    <ng-template [ngIf]="state == 'error'">
        <mat-icon>close</mat-icon>
    </ng-template>
</div>

