<div class="container">
    <h2>Anagram Solver</h2>
    <p>Currently using Words With Friends (2019) dictionary for the list of words. Now <b>supporting</b> wildcards!</p>
    <hr>
    <!-- Input for anagram -->
    <form>
        <div class="col-xl-5">
            <label for="scrambledLetters" class="form-label">Scrambled letters:</label>
            <div class="input-group">
                <input type="text" id="scrambledLetters" name="scrambledLetters" class="form-control" aria-describedby="anagramsolve" [(ngModel)]="scrambled" placeholder="Enter letters here...">
                <button type="submit" class="btn btn-outline-secondary" id="anagramsolve" (click)="solveAnagrams()">Solve</button>
            </div>
            <br>
            <!-- <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="anagramexactmode" [(ngModel)]="exactMode" (ngModelChange)="modeChange()">
                <label class="form-check-label" for="anagramexactmode">Toggle Exact Mode <app-popup-help popupText="Exact Mode searches for only anagrams of the <b>same length</b> as provided scrambled letters."></app-popup-help></label>
            </div> -->
            <mat-slide-toggle [checked]="exactMode" (change)="modeChange()">Toggle Exact Mode <app-popup-help popupText="Exact Mode searches only for anagrams of the <b>same length</b> as provided scrambled letters."></app-popup-help></mat-slide-toggle>
        </div>
    </form>
    <hr>
    <!-- Output -->
    <h3>Anagram Solutions:</h3>
    <ng-template [ngIf]="state == 'idling'">
        Anagrams of entered letters will show up here once they get found.
    </ng-template>
    <ng-template [ngIf]="state == 'loading'">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-template>
    <ng-template [ngIf]="state == 'showing'">
        <div class="accordion accordion-flush col-xl-7" id="wordsAccordion">
            <!-- Repeat for every letter count -->
            <ng-template ngFor let-key [ngForOf]="Object.keys(anagrams).reverse()">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#flush-collapse{{key}}" aria-expanded="false" attr.aria-controls="flush-collapse{{key}}">
                            {{key}}-Letter Words
                        </button>
                    </h2>
                    <div id="flush-collapse{{key}}" class="accordion-collapse collapse" data-bs-parent="#wordsAccordion">
                        <div class="accordion-body">
                            <div class="container text-center">
                                <div class="row row-cols-auto">
                                    <ng-template ngFor let-word [ngForOf]="anagrams[key]">
                                        <div class="col">{{word}}</div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>
    <ng-template [ngIf]="state == 'error'">
        <i class="bi bi-x h1"></i>
    </ng-template>
</div>

