<div class="container">
    <h2>Caesar Cipher</h2>
    <table>
        <tbody>
            <tr>
                <th>Plain</th>
                <ng-template ngFor let-letter [ngForOf]="alphabet | split">
                    <td>{{letter}}</td>
                </ng-template>
            </tr>
            <tr>
                <th>Cipher</th>
                <ng-template ngFor let-letter [ngForOf]="caesar | split">
                    <td>{{letter}}</td>
                </ng-template>
            </tr>
        </tbody>
    </table>
    <div class="col-md-4">
        <br>
        <mat-label for="caesarRange">Shift = {{shift}}</mat-label>
        <!-- <input type="range" class="form-range" min="0" [max]="max_c" step="1" [(ngModel)]="shift" (input)="shift_alphabet()" id="caesarRange"> -->
        <mat-slider min="0" [max]="max_c" step="1" id="caesarRange">
            <input matSliderThumb [(ngModel)]="shift" (input)="shift_alphabet()">
        </mat-slider>
    </div>
    <div class="row gx-3">
        <app-text-input-titled class="col-md-6" title="Plain Text" [(text)]="caesar_input" (textChange)="encrypt_caesar()" [placeholder]="caesar_text_help"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Cipher Text" [(text)]="caesar_output" (textChange)="decrypt_caesar()" [placeholder]="caesar_cipher_help"></app-text-input-titled>
    </div>
</div>
<hr>
<div class="container">
    <h2>Vigenère Cipher</h2>
    <p>Description of how it works can be found on <a href="https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher#Description">Vignère Cipher</a> site on Wikipedia.</p>
    <p>This cipher requires a keyword <b>and</b> either plain or cipher text.</p>
    <!-- <table class="table table-bordered border-secondary table-sm text-center">
        <tbody>
            <tr>
                <th>Plain</th>
                <ng-template ngFor let-letter [ngForOf]="alphabet | split">
                    <td>{{letter}}</td>
                </ng-template>
            </tr>
            <tr>
                <th>Cipher</th>
                <ng-template ngFor let-letter [ngForOf]="caesar | split">
                    <td>{{letter}}</td>
                </ng-template>
            </tr>
        </tbody>
    </table>
    <div class="col-md-4">
        <label for="caesarRange" class="form-label">Shift = {{shift}}</label>
        <input type="range" class="form-range" min="0" [max]="max_c" step="1" [(ngModel)]="shift" (input)="shift_alphabet()" id="caesarRange">
    </div> -->
    <div class="row gx-3">
        <app-text-input-titled class="col-xl-4" title="Plain Text" [(text)]="vig_input" (textChange)="btn_toggle()" [placeholder]="vig_text_help"></app-text-input-titled>
        <div class="col-xl-4 d-flex flex-column justify-content-center">
            <button mat-stroked-button type="button" (click)="encrypt_vig()" [disabled]="!button_state">Encrypt 🠚</button>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label for="vigkeyword">Keyword</mat-label>
                <input matInput type="text" id="vigkeyword" placeholder="Ex. 'ENI'" [(ngModel)]="keyword" (input)="btn_toggle()">
            </mat-form-field>
            <button mat-stroked-button type="button" (click)="decrypt_vig()" [disabled]="!button_state">🠘 Decrypt</button>
        </div>
        <app-text-input-titled class="col-xl-4" title="Cipher Text" [(text)]="vig_output" (textChange)="btn_toggle()" [placeholder]="vig_cipher_help"></app-text-input-titled>
    </div>
</div>