<!-- <app-navbar [links]="links"> -->
<div class="container" id="t2c">
    <h2>Text to codes conversions</h2>
    <div class="row gy-3 gx-3">
        <app-text-input-titled class="col-md-6" title="Text" [(text)]="normalText" (textChange)="convertNormalText()" placeholder="Ex. 'Enigame'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Binary" [(text)]="binaryText" (textChange)="convertBinText()" placeholder="Ex. '1000101 1101110 1101001 1100111 1100001 1101101 1100101'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Hexadecimal" [(text)]="hexText" (textChange)="convertHexText()" placeholder="Ex. '45 6e 69 67 61 6d 65'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Base64" [(text)]="b64Text" (textChange)="convertB64Text()" placeholder="Ex. 'RW5pZ2FtZQ=='"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="ASCII Decimal Code" [(text)]="asciiText" (textChange)="convertAsciiText()" placeholder="Ex. '69 110 105 103 97 109 101'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="ROT13 Code" [(text)]="rot13Text" (textChange)="convertRot13Text()" placeholder="Ex. 'Ravtnzr'"></app-text-input-titled>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container" id="l2n">
    <h2>Letter to number conversion</h2>
    <div class="row gy-3 gx-3">
        <app-text-input-titled class="col-md-6" title="Letters" [(text)]="letterText" (textChange)="convertLetterText()" placeholder="Ex. 'Enigame'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Numbers" [(text)]="numberText" (textChange)="convertNumberText()" placeholder="Ex. '5 14 9 7 1 13 5'"></app-text-input-titled>
    </div>
</div>