<!-- <app-navbar [links]="links"> -->
<div class="container">
    <div class="row gy-3 gx-3">
        <app-text-input-titled class="col-md-6" title="Text" [(text)]="normalText" placeholder="Text goes here..." (textChange)="convertNormalText()" ></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Binary" [(text)]="binaryText" placeholder="Binary code goes here..." (textChange)="convertBinText()" ></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Hexadecimal" [(text)]="hexText" placeholder="Hexadecimal code goes here..." (textChange)="convertHexText()" ></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Base64" [(text)]="b64Text" placeholder="Base64 code goes here..." (textChange)="convertB64Text()" ></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="ASCII Code" [(text)]="asciiText" placeholder="ASCII code goes here..." (textChange)="convertAsciiText()" ></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="ROT13 Code" [(text)]="rot13Text" placeholder="ROT13 code goes here..." (textChange)="convertRot13Text()" ></app-text-input-titled>
    </div>
</div>