<div class="container" id="morse">
    <h2>Morse Code</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <div class="d-flex flex-column justify-content-center">
                <div>
                    <app-text-input-titled title="Morse Code" [(text)]="morseText" (textChange)="convertM2L()" placeholder="Ex. '. -. .. --. .- -- .'"></app-text-input-titled>
                </div>
                <br>
                <div>
                    <app-text-input-titled title="Text" [(text)]="lettersText" (textChange)="convertL2M()" placeholder="Ex. 'Enigame'"></app-text-input-titled>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img class="img-fluid d-block" src="assets/Morse_Code.jpg" alt="Morse Code chart"/>
        </div>
    </div>
</div>

<hr>
<div class="container" id="braille">
    <h2>Braille Code</h2>
    <img class="img-fluid mx-auto d-block col-md-8" src="assets/braille_alphabet.jpg" alt="Braille Code chart"/>
</div>

<hr>
<div class="container" id="semaphore">
    <h2>Semaphore Flags</h2>
    <img class="img-fluid mx-auto d-block" src="assets/Semaphore_Signals.jpg" alt="Semaphore Flags alphabet"/>
</div>

<hr>
<div class="container" id="tap">
    <h2>Tap/Knock Code</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 offset-md-1">
            <div class="d-flex flex-column justify-content-center">
                <div>
                    <app-text-input-titled title="Tap/Knock Code" [(text)]="tapText" (textChange)="convertFromTap()" placeholder="Ex. '1 5 3 3 2 4 2 2 1 1 3 2 1 5'"></app-text-input-titled>
                </div>
                <br>
                <div>
                    <app-text-input-titled title="Text" [(text)]="unTapText" (textChange)="convertToTap()" placeholder="Ex. 'Enigame'"></app-text-input-titled>
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto text-center">
            <table>
                <thead>
                    <tr>
                        <th>Taps</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>A</td>
                        <td>B</td>
                        <td>C/K</td>
                        <td>D</td>
                        <td>E</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>F</td>
                        <td>G</td>
                        <td>H</td>
                        <td>I</td>
                        <td>J</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>L</td>
                        <td>M</td>
                        <td>N</td>
                        <td>O</td>
                        <td>P</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Q</td>
                        <td>R</td>
                        <td>S</td>
                        <td>T</td>
                        <td>U</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>V</td>
                        <td>W</td>
                        <td>X</td>
                        <td>Y</td>
                        <td>Z</td>
                    </tr>
                </tbody>
            </table>
            First rows (down), then columns (right)
        </div>
    </div>
</div>

<hr>
<div class="container" id="signlang">
    <h2>American Sign Language or Finger/Deaf Language</h2>
    <img class="img-fluid mx-auto d-block bg-white" src="assets/american_sign_language.png" alt="American Sign Language chart"/>
</div>