<app-navbar [title]="title" [links]="navlinks" (themeChange)="changeTheme($event)">
  <div id="alert-box" #alertBox>
  </div>

  <router-outlet></router-outlet>

  <footer class="text-center text-lg-start mt-2">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        2023-2024, Made by: Ves <a href="{{profileUrl}}"><mat-icon class="footer-icon" svgIcon="github-icon" aria-hidden="false" color="primary"></mat-icon></a><a href="{{repoUrl}}"><mat-icon class="footer-icon" svgIcon="git-icon" aria-hidden="false" color="primary"></mat-icon></a>
      </div>
  </footer>
</app-navbar>
