<!-- <app-navbar [links]="links"> -->
<div class="container" id="t2c">
    <h2>Text to codes conversions</h2>
    <div class="row gy-3 gx-3">
        <app-text-input-titled class="col-md-6" title="Text" [(text)]="normalText" placeholder="Text goes here..." (textChange)="convertNormalText()" popupText="Example input:<br/>'Enigame'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Binary" [(text)]="binaryText" placeholder="Binary code goes here..." (textChange)="convertBinText()" popupText="Example input:<br/>'1000101 1101110 1101001 1100111 1100001 1101101 1100101'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Hexadecimal" [(text)]="hexText" placeholder="Hexadecimal code goes here..." (textChange)="convertHexText()" popupText="Example input:<br/>'45 6e 69 67 61 6d 65'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Base64" [(text)]="b64Text" placeholder="Base64 code goes here..." (textChange)="convertB64Text()" popupText="Example input:<br/>'RW5pZ2FtZQ=='"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="ASCII Decimal Code" [(text)]="asciiText" placeholder="ASCII decimal code goes here..." (textChange)="convertAsciiText()" popupText="Example input:<br/>'69 110 105 103 97 109 101'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="ROT13 Code" [(text)]="rot13Text" placeholder="ROT13 code goes here..." (textChange)="convertRot13Text()" popupText="Example input:<br/>'Ravtnzr'"></app-text-input-titled>
    </div>
</div>
<hr>
<div class="container" id="l2n">
    <h2>Letter to number conversion</h2>
    <div class="row gy-3 gx-3">
        <app-text-input-titled class="col-md-6" title="Letters" [(text)]="letterText" placeholder="Letters go here" (textChange)="convertLetterText()" popupText="Example input:<br/>'Enigame'"></app-text-input-titled>
        <app-text-input-titled class="col-md-6" title="Numbers" [(text)]="numberText" placeholder="Numbers go here" (textChange)="convertNumberText()" popupText="Example input:<br/>'5 14 9 7 1 13 5'"></app-text-input-titled>
    </div>
</div>